<div class="col-xs-12">
  <div class="panel panel-primary">
    <div class="panel panel-heading">
      <h4 class="panel-title">Fund Details</h4>
    </div>
    <div class="panel panel-body">
      <div class="row">
        <table class="table table-responsive">
          <tr *ngIf="!fund; else fundDetails">
            <td colspan="4">
              <p>Fund not found!</p>
            </td>
          </tr>
          <ng-template #fundDetails>
            <tr>
              <td><strong>Fund Name</strong></td>
              <td>{{fund.fundName}}</td>
              <td><strong>Fund Family</strong></td>
              <td>{{fund.fundFamily}}</td>
              <td><strong>Fund Category</strong></td>
              <td class="col-heading">{{fund.fundCategory}}</td>
            </tr>
            <tr>
              <td><strong>Fund Type</strong></td>
              <td>{{fund.fundType}}</td>
              <td><strong>Assets</strong></td>
              <td>{{fund.assets}}</td>
              <td><strong>Expense</strong></td>
              <td class="col-heading">{{fund.expense}}</td>
            </tr>
            <tr>
              <td><strong>Subscription Type</strong></td>
              <td>{{fund.subscriptionType}}</td>
              <td><strong>Current Nav</strong></td>
              <td>{{fund.currentNav}}</td>
              <td><strong>Fund Rating</strong></td>
              <td class="col-heading">{{fund.fundRating}}</td>
            </tr>
            <tr>
              <td><strong>1 - Yr Return</strong></td>
              <td>{{fund.firstYrReturn}}</td>
              <td><strong>3 - Yr Return</strong></td>
              <td>{{fund.thirdYrReturn}}</td>
              <td><strong>5 - Yr Return</strong></td>
              <td class="col-heading">{{fund.fifthYrReturn}}</td>
            </tr>
            <tr>
              <td><strong>Folio No.</strong></td>
              <td>{{fund.folioNo}}</td>
              <td><strong>Account No </strong></td>
              <td>{{fund.accountNo}}</td>
              <td><strong>SIP Start Date</strong></td>
              <td class="col-heading">{{fund.sipStartDt | date: 'dd/MM/yyyy'}}</td>
            </tr>
            <tr>
              <td><strong>SIP End Date</strong></td>
              <td>{{fund.sipEndDt | date: 'dd/MM/yyyy'}}</td>
              <td><strong>EMI Day</strong></td>
              <td>{{fund.emiDay}}</td>
              <td><strong>First Premium Amount</strong></td>
              <td class="col-heading">{{fund.firstAmount}}</td>
            </tr>
            <tr>
              <td><strong>Monthly Premium Amount</strong></td>
              <td>{{fund.monthlyAmount}}</td>
              <td><strong>Total Invested Amount</strong></td>
              <td>{{fund.investedAmount}}</td>
              <td><strong>Total Unit</strong></td>
              <td class="col-heading">{{fund.currentUnit}}</td>
            </tr>
            <tr>
              <td><strong>Market Value</strong></td>
              <td>{{fund.currentMarketValue}}</td>
              <td><strong>Total Gain / Loss</strong></td>
              <td>{{fund.currentgainLoss}}</td>
              <td><strong>% of Return</strong></td>
              <td class="col-heading">{{fund.currentPercentReturn}}</td>
            </tr>
            <br>
            <h4>Transaction Details </h4>
                   
            <tr *ngFor="let sip of fund.transactions">
             <td><strong>SIP Transaction Date</strong></td>
             <td>{{sip.transactionDt | date: 'dd/MM/yyyy'}}</td>
             <td><strong>Transaction Amount</strong></td>
             <td>{{sip.transactionAmount}}</td>
             <td><strong>NAV Value</strong></td>
             <td class="col-heading">{{sip.navValue}}</td>
             <td><strong>Purchased Unit</strong></td>
             <td class="col-heading">{{sip.purchaseUnit}}</td>
            </tr>
            <tr>
              <td align="right" colspan="8">
                <button class="btn btn-primary" (click)="addFundTransaction()"> Add Transaction</button>
                <button class="btn btn-primary"> Update Fund</button>
              </td>
            </tr>         
          </ng-template>
        </table>
      </div>
    </div>
  </div>
</div>